.welcome_text{
    color: darkslategray;
}
.sticky_navbar{
    overflow: hidden;
     /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}


.bg-text {
    
    background-color: rgba(f, f, f, 0.1); /* Black w/opacity/see-through */
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    padding: 10px;
    text-align: center;
    backdrop-filter: blur(8px);
  }
  
  .home {
    text-align: center;
    color: #333333;
}
